<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/index.css" />
    <title>小说</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body onload="load_head();load_index();">
    <div class="wrap">
        <div class="head" id="login_ctrl">
            <div class="head-top">
                <div class="fl">
                    <img src="static/default.png" alt="logo"></a>
                </div>
                <div class="search-box fl" data-hook="searchSuggest">
                    <input type="text" class="search-text fl" name="keyword" autocomplete="off" disableautocomplete
                        v-model="key" />
                    <input type="submit" class="search-btn fr" v-on:click="search()" />
                </div>

                <div class="right-wrap-login">
                    <div class="unlogin" v-show="!is_login">
                        <div class="login fl"><a class="user_login" href="login.html">登录</a></div>
                        <div class="regist fl"><a class="user_register" href="register.html">注册</a></div>
                    </div>
                    <div class="logined" v-show="is_login">
                        <div class="username">
                            {{username}}
                        </div>

                        <div class="shelf">
                            <span v-on:click="switch_shelf();">书架</span>
                            <div class="float-mark" v-show="show_shelf">
                                <div class="ud_noHistory" v-show="!shelf.length">
                                    <h2>暂无记录</h2>
                                </div>
                                <div class="ud_hasHistory" v-show="shelf.length">
                                    <ul class="list" v-for="book in shelf"> {{book.name}} </ul>
                                </div>
                            </div>
                        </div>

                        <div class="history">
                            <span v-on:click="switch_history();">历史</span>
                            <div class="float-mark" v-show="show_history">
                                <div class="ud_noHistory" v-show="!history.length">
                                    <h2>暂无记录</h2>
                                </div>
                                <div class="ud_hasHistory" v-show="history.length">
                                    <ul class="list" v-for="book in history"> {{book.name}} </ul>
                                </div>
                            </div>
                        </div>

                        <div class="exit">
                            <a href="退出登录的链接" class="log-out">退出</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="nav">
                <div class="menu-left fl">
                    <a href="index.html">首页<em></em></a>
                    <a class="active" href="store.html">书库<em></em></a>
                </div>
                <div class="menu-right fr">
                    <a href="author.html" class="author-zone">作者专区<em></em></a>
                </div>
            </div>
        </div>

        <div class="top-one-blank">
            <div class="book-types fl">
                <div class="category">
                    <div class="title">作品分类</div>
                    <ul class="cate-list" id="data-groupdom" name="stat-groupdom">
                        <li>
                            <a href="" title="奇幻玄幻" target="_blank" class="cate1">奇幻玄幻</a>
                            <a href="" title="武侠仙侠" target="_blank" class="cate2">武侠仙侠</a>
                        </li>
                        <li>
                            <a href="" title="历史军事" target="_blank" class="cate3">历史军事</a>
                            <a href="" title="都市娱乐" target="_blank" class="cate4">都市娱乐</a>
                        </li>
                        <li>
                            <a href="" title="二次元爬" target="_blank" class="cate7">二次元爬</a>
                            <a href="" title="全部作品" target="_blank" class="cate8">全部作品</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="book-recommendation fl">
                <div class="mid-news" id="recommendation">
                    <!-- 首页中心推荐 -->
                    <div class="mid-news-left fl">
                        <ul class="news-lists">
                            <li v-for="book in books_left"><span class="cate">[{{book.type}}]</span><a :href="book.url"
                                    target="_blank">{{book.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mid-news-left fr">
                        <ul class="news-lists">
                            <li v-for="book in books_right"><span class="cate">[{{book.type}}]</span><a href="book.url"
                                    target="_blank">{{book.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="book-rank fr">
                <div class="tab-lists">
                    <div class="top-title clearfix">
                        <div class="title fl">排行榜</div>
                    </div>
                    <div style="height: 10px;"></div>

                    <div class="lists" id="rank">
                        <ul id="RankList">
                            <li v-for="rank in ranks"><span>{{rank.reader}}</span><em
                                    class="top1 list_icon">{{rank.rank}}</em><a :href="rank.url"
                                    target="_blank">{{rank.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>